@model AskFM.ViewModels.UserPageDTO

@{
    ViewData["Title"] = "Answer";
}

@foreach (var question in Model.Questions)
{
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="question" asp-action="@question.Id" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="panel-heading">@question.Text</div>
                    @if (!String.IsNullOrEmpty(question.QuestionUserId))
                    {
                        <div class="panel-heading">@question.QuestionUserName</div>
                    }
                    <input name="Answer" asp-for=@question.Answer class="form-control" />
                    <span asp-validation-for=@question.Answer class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Ответить" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}

