@model AskFM.ViewModels.QuestionDto
@{
    ViewData["Title"] = "Get";
}
<h1>Задай вопрос</h1>

<form method="post">
    <p>
        <input type="text" name="Text" /><br /><br />
    </p>
    <div>
        <label asp-for=@Model.IsAnonimized></label><br />
        <input asp-for=@Model.IsAnonimized />
    </div>
    <input type="submit" value="Отправить" />
</form>

