@model AskFM.ViewModels.UserPageDTO
@{
    ViewData["Title"] = "UnansweredQuestions";
}

<h1>Ждут ответа</h1>
<form method="post">
    <div>
        <div class="btn-group-vertical">
            <div>@await Html.PartialAsync("Answer")</div>
        </div>  
    </div>
</form>

