@model AskFM.Models.UsersSearch
@{
    ViewBag.Title = "Каталог пользователей";
}

<style>
    .round {
        border-radius: 100px; /* Радиус скругления */
        border: 3px solid green; /* Параметры рамки */
        box-shadow: 0 0 7px #666; /* Параметры тени */
    }
</style>

<h2>Пользователи</h2>

<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Имя: </label>
        <input name="name" class="form-control" />
        <input type="submit" value="Найти" class="btn btn-default" />
    </div>
</form>

@foreach (var c in Model.Users)
{
    <img src="~/users/image?userId=@c.Id" alt="" class="round" style="width:75px;height:100px;" />
    <a href="~/question/page?userId=@c.Id" class="btn">@c.Email</a>
}
